* {
  margin: 0;
  padding: 0;
}

.bg-primary {
  background-color: red;
  color: white;
}

.primary {
  color: red;
}
.title {
  font-size: 55px;
  font-weight: bold;
  color: white;
}
/*nav part*/
.nav-container {
  display: flex;
  background-color: gray;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}

.menus {
  display: flex;
  gap: 15px;
  list-style: none;
  font-size: 17px;
  color: white;
}

/*banner container part*/

.banner-container {
  height: 100vh;
  background: url("./asset/image/background.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay; /*linear gradient dite hole eta lage chobir upore*/
  background-position: center;
  background-size: cover; /*Follow this code for background image*/
  /*real image puropuri background e ashbe*/
  display: flex;
  align-items: center;
  text-align: center; /*ei 3 ta code diye lekhake center kora hoise*/
}
.description {
  color: white;
  padding: 10px;
  width: 50%;
  margin: auto; /*banner er p tag er likhake ke majhe niye asha hoise*/
}

.btn {
  padding: 12px 20px;
  border: none;
}

/*Service Container Prt*/

.service-container {
  display: flex;
  height: 100vh;
  background-image: url("./asset/image/footer-bg.png"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.icon {
  width: 70px;
  margin-bottom: 20px;
}

.box {
  /*box ke design korse jeta 2nd section e ase*/
  text-align: center;
  width: 195px;
  height: 100px;
  padding: 50px;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 4px 4px 8px gray;
}

.service-description {
  width: 50%;
}

.fist-two-box {
  display: flex;
  gap: 3px;
  margin-top: 5px;
}

.author-img {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}

.author-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.profile-container {
  display: flex;
  align-items: center;
  gap: 5px;
  border-right: 2px solid red;
  padding-right: 20px;
}
